@font-face {
  font-family: 'AGaramondPro';
  src: url('AGaramondPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'helvetica-light';
  src: url('helvetica-neue-ultra-light.ttf') format('opentype');
}

body,
p,
.document {
  font-family: 'AGaramondPro', Georgia, 'Times New Roman', serif;
  font-size: 1.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'helvetica-light', Helvetica, Arial, sans-serif;
  font-weight: bolder;
}